{% extends "teams/team.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}
  {{ team.title }}
{% endblock title %}

{% block head %}
  {{ edit_form.media.css }}
{% endblock head %}

{% block inner %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 d-flex flex-column">
        <div class="card d-flex flex-row p-4 border-0 align-items-center rounded shadow-sm">
          {% thumbnail team.image "256x256" crop="center" as img %}
            <img src="{{ img.url }}"
                 width="auto"
                 height="128px"
                 class="rounded-circle"
                 alt="team image"/>
          {% endthumbnail %}
          <h3 class="fw-bold ms-4">{{ team.title }}</h3>
        </div>
        <div class="card d-flex border-0 my-5 p-3 rounded shadow-sm" id="tabs"
             role="tablist">
          <ul class="nav nav-pills" id="pills-tab">
            <li class="nav-item" role="presentation">
              <button class="tab_link active border-0" id="pills-about-tab"
                      data-bs-toggle="pill" data-bs-target="#pills-about"
                      type="button" role="tab" aria-controls="pills-home"
                      aria-selected="true">About project
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="tab_link border-0" id="pills-team-tab"
                      data-bs-toggle="pill" data-bs-target="#pills-team"
                      type="button" role="tab" aria-controls="pills-team"
                      aria-selected="true">Team
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="tab_link border-0" id="pills-vacancies-tab"
                      data-bs-toggle="pill" data-bs-target="#pills-vacancies"
                      type="button" role="tab" aria-controls="pills-vacancies"
                      aria-selected="true">Vacancies
              </button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane active show fade card border-0 rounded p-3 shadow-sm"
               id="pills-about" role="tabpanel"
               aria-labelledby="pills-about-tab" tabindex="0">
            <p class="text-muted">{{ team.description|safe }}</p>
            {% if team.presentation %}
              <p>{% bs_icon "file-earmark-ppt" %}
                <a href="{{ MEDIA_URL }}{{ team.presentation.url }}" download>Presentation</a>
              </p>
            {% endif %}
            <div class="d-flex flex-column gap-2 mt-auto">
              <div class="d-flex gap-2">
                <span class="tech bg-light">{% bs_icon "stack" %}Technologies:</span>
                <ul class="list-unstyled d-flex flex-wrap gap-2 mb-0">
                  {% for tech in technologies %}
                    <li class="badge tech">{{ tech.technology }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="d-flex gap-2">
                <span class="lang bg-light">{% bs_icon "translate" %}Language:</span>
                <span class="badge lang">{{ language.language }}</span>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-team" role="tabpanel"
               aria-labelledby="pills-team-tab" tabindex="0">
            <div class="row row-cols-md-2 row-cols-lg-3 row-cols-1 d-flex w-100 gy-4 justify-content-center">
              <a class="col-sm-6 col-lg-4 mb-3 text-decoration-none"
                   href="{% url 'users:profile' team.creator_id %}">
                  <div class="card card-fw h-100 border-0">
                    <div class="card-body text-center">
                      <div class="mb-2 justify-content-center d-flex">
                        {% thumbnail team.creator.image "256x256" crop="center" as img %}
                          <img src="{{ img.url }}"
                               width="72px"
                               height="72px"
                               class="rounded-circle"
                               alt="team image"/>
                        {% empty %}
                          {% bs_icon "person-circle" size="72px" extra_classes="text-secondary" %}
                        {% endthumbnail %}
                      </div>
                      <h4 class="card-title text-dark fw-bold">{{ team.creator.nickname }}</h4>
                      <span class="card-subtitle gray-text text-uppercase">creator</span>
                    </div>
                  </div>
                </a>
              {% for member in members %}
                <a class="col-sm-6 col-lg-4 mb-3 text-decoration-none"
                   href="{% url 'users:profile' member.user_id %}">
                  <div class="card card-fw h-100 border-0">
                    <div class="card-body text-center">
                      <div class="mb-2 justify-content-center d-flex">
                        {% thumbnail member.user.image "256x256" crop="center" as img %}
                          <img src="{{ img.url }}"
                               width="72px"
                               height="72px"
                               class="rounded-circle"
                               alt="team image"/>
                        {% empty %}
                          {% bs_icon "person-circle" size="72px" extra_classes="text-secondary" %}
                        {% endthumbnail %}
                      </div>
                      <h4 class="card-title text-dark fw-bold">{{ member.user.nickname }}</h4>
                      <span class="card-subtitle gray-text text-uppercase">{{ member.role_team.role_default }}</span>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade card border-0 rounded p-3 shadow-sm"
               id="pills-vacancies" role="tabpanel"
               aria-labelledby="pills-vacancies-tab" tabindex="0">
            <ul class="list-group list-group-flush">
              {% for place in vacancies %}
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-lighter text-capitalize my-auto">{{ place.role_default.name }}</p>
                  {% if team.creator_id != request.user.id and request.user.is_authenticated %}
                    <form action="{% url 'teams:create_pending' place.id %}"
                          method="post">
                      {% csrf_token %}
                      <input class="btn btn-primary" type="submit" value="Respond"/>
                    </form>
                  {% else %}
                    <div class="d-flex flex-column">
                      <input class="btn btn-primary" value="Respond" disabled/>
                      <p class="m-0 text-muted h-50">You aren't able to respond to vacancy</p>
                    </div>
                  {% endif %}
                </li>
              {% empty %}
                <h4>Oops... there's no job for you</h4>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock inner %}

{% block scripts %}
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  {{ edit_form.media.js }}
{% endblock scripts %}
