{% load thumbnail %}
{% load bootstrap_icons %}
<header class="header flex-wrap d-flex container-fluid position-lg-absolute">
  <nav class="navbar navbar-expand-md d-flex justify-content-between align-items-center w-100">
    <a href="{% url 'home:landing' %}"
       class="header__logo text-decoration-none navbar-brand">
      <span>FLEXWIRE</span>
    </a>
    <button class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-md-auto ms-sm-auto">
          <li class="nav-item">
          {% url 'teams:teams_list' as team_list %}
            <a class="header__link h3 {% if request.path == team_list %}active{% endif %} me-4" href="{{ team_list }}">Team search</a>
          </li>
        </ul>
        <a href="#" class="ms-lg-auto ms-sm-2 navbar-btn lift text-decoration-none">
          <span class="d-flex align-items-center h-100">
            {% if request.user.is_authenticated %}
              <div class="dropdown d-none d-lg-block d-md-block">
                <a class="d-flex align-items-center dropdown-toggle"
                   href="#" data-bs-toggle="dropdown" aria-expanded="false"
                >
                  {% thumbnail request.user.image "32x32" crop="center" as img %}
                    <img src="{{ img.url }}"
                       width="32px"
                       height="32px"
                       class="rounded-circle"
                       alt="user image"/>
                  {% empty %}
                    <span class="text-secondary">{% bs_icon 'person-circle' size='32px' %}</span>
                  {% endthumbnail %}
                  <p class="my-0 ms-1 header__link">{{ request.user.nickname }}</p>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  {% url 'users:profile' request.user.id as profile %}
                  {% url 'users:account' as account %}
                  <li><a href="{{ profile }}" class="dropdown-item {% if request.path == profile %}active{% endif %}">Profile</a></li>
                  <li><a href="{{ account }}" class="dropdown-item {% if request.path == account %}active{% endif %}">Account</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <li><a href="{% url 'users:logout' %}" class="dropdown-item">Logout</a></li>
                </ul>
              </div>
              <div class="d-lg-none d-md-none d-flex flex-column">
                <a href="{% url 'users:profile' request.user.id %}" class="header__link {% if view_name == 'users:profile' %}active{% endif %}">Profile</a>
                <a href="{% url 'users:account' %}" class="header__link {% if view_name == 'users:account' %}active{% endif %}">Account</a>
                <hr class="m-0"/>
                <a href="{% url 'users:logout' %}" class="header__link">Logout</a>
              </div>
            {% else %}
              <div class="d-flex gap-2">
                <a href="{% url 'users:login' %}" class="btn btn-primary px-3">Login</a>
                <a href="{% url 'users:signup' %}" class="btn btn-outline-primary px-3">Signup</a>
              </div>
            {% endif %}
          </span>
        </a>
    </div>
  </nav>
</header>
