{% extends "base.html" %}

{% block title %}
  Recovering password
{% endblock title %}

{% block content %}
  <div class="container my-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5">
        <h1 class="text-center mb-3">Please enter your new password</h1>
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column justify-content-center">
          {% csrf_token %}
          {% with form=form %}
            {% include "users/includes/auth_form.html" %}
          {% endwith %}
          <button type="submit" class="btn btn-primary w-75 mx-auto mt-3">
              Continue
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
